.adCarousel img {
  max-height: 270px;
  width: auto;
}

.background-t-red {
  background: #d22e33;
  opacity: 0.9;
  height: 42%;
}

@media screen and (max-width: 989px) {
  .carouselHeading {
    margin-top: 30%;
  }
  .adCarousel {
    margin-top: 15%;
  }
  .adCarouselImg {
    align-content: center;
  }
}

@media screen and (max-width: 766px) {
  .carouselHeading {
    margin-top: 0;
  }
  .adCarousel {
    margin-top: 0;
  }
}
