.adCarousel img {
  max-height: 270px;
  width: auto;
}

.background-t-red {
  background: #d22e33;
  opacity: 0.9;
  height: 42%;
}

@media screen and (max-width: 989px) {
  .adCarouselImg {
    align-content: center;
  }
}
