

.trainer-item {
  list-style: none;
}


.trainer-info-title {
  color: whitesmoke;
}

/*dropping bootstraps border. Created ul class to only target 
this list and not accidentally affect other lists in app*/
.hire-trainer-form .list-group-item {
  border-bottom: none !important;
}

@media only screen and (max-width: 600px) {
  .trainer-wrapper {
    display: flex;
    justify-content: flex-start;
    margin-left: 10%;
    font-size: larger;
  }
}


@media only screen and (min-width: 601px) {
  .trainer-wrapper {
    display: flex;
    justify-content: flex-start;
    margin-left: 30%;
    font-size: larger;
  }
}




@media only screen and (max-width: 767px) {
  .trainer-info-card {
    width: 100%;
    background: #d22e33 !important;
    color: black;
  }
}

@media only screen and (min-width: 768px) {
  .trainer-info-card {
    width: 80%;
    background: #d22e33 !important;
    color: black;
  }
}


