

.trainer-item {
  list-style: none;
}


.trainer-info-title {
  color: whitesmoke;
}

/*dropping bootstraps border. Created ul class to only target 
this list and not accidentally affect other lists in app*/
.hire-trainer-form .list-group-item {
  border-bottom: none !important;
}


.view-col {
  display:flex;
justify-content: flex-end;

}

.trainer-col {
  display:flex; 
  justify-content: flex-start;

}



@media only screen and (max-width: 767px) {
  .trainer-info-card {
    width: 100%;
    background: #d22e33 !important;
    color: black;
  }
}

@media only screen and (min-width: 768px) {
  .trainer-info-card {
    width: 80%;
    background: #d22e33 !important;
    color: black;
  }
}


.modal-dialog{
  max-width: 90% !important;
}

