.memberStorePage .text-red {
  color: #d22e33;
  font-weight: bold;
  font-family: verdana, sans-serif;
}

.storeContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.storeCart {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}