  /*for schedule column borders. */
  .border-to-right {
    border-right: 1px solid #1783ee;
  }
  
  .border-to-bottom {
    border-bottom: 2px solid;
    border-color: #1783ee;
  }
  
  .border-to-bottom-thin {
    border-bottom: 1px solid;
    border-color: #1783ee;

  }
  
 .center-btn{
   text-align:center
 }

 .larger-font {
    font-size: 1.3em !important;
 }

.mobile-dropdown {
  background: #d22e33 ;
  width: 100% !important;
}

#basic-nav-dropdown {
  color: whitesmoke;
}



.weekday-heading {
  margin-left: auto;
  margin-right: auto;
  width: 100vw;
  text-align: center;
}

.dropdown-menu {
  width: 100vw;
  background: whitesmoke !important;
}
