
.schedule-column h3 {
    color: #d22e33;
    text-align: center;
}

.schedule-column p {
    border-bottom: 2px solid;
    border-color: #1783ee;
    font-size: 1.2em;
    text-align: center;
}


  /*TODO: Add back in when actual classes appear */ 
  /* .border-to-bottom-thin {
    border-bottom: 1px solid;
    border-color: #1783ee;
  } */

  

  