/*Creates a standard red btn */
.btn-red {
  background-color: #d22e33 !important;
  border: none !important;
  color: whitesmoke;
}

.btn-dark {
  background: rgb(49, 49, 49) !important;
  border: none !important;
  color: whitesmoke;
}
